## Exercice  1

1. On considère la liste `jours` ci-dessous. Ecrivez l'instruction permettant d'afficher le mot `mercredi`.

In [ ]:
jours = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']

2. Écrire un code permettant d'afficher tous les jours de la semaine

3. Écrire un code permettant d'afficher la longueur de la liste ```jours```.

4. Écrire un code permettant d'afficher tous les jours de la semaine **à l'envers**.

---------

## Exercice 2

1. Créer une liste `mylist` qui contient tous les nombres de 1 à 200.

2. Créer une liste `mynewlist` qui contient tous les nombres de 1 à 200 qui sont divisibles par 7.

----------

## Exercice 3

1. Écrire une fonction qui prend en paramètre une liste et qui renvoie la somme des deux premiers éléments de cette liste.

## Exercice 4

Créer une liste `mylist` qui contient tous les nombres de 1 à 200.

Créer une liste `mynewlist` qui contient tous les nombres de 1 à 200 qui sont divisibles par 7.

----------

## Exercice 5

Exécutez-le code suivant : il contient une erreur qui vous sera signalée par Jupyter. Corrigez cette erreur et exécutez le code à nouveau.

In [ ]:
def affine(x):
    return 2*x + 3

maliste = [2, 3, 8, 1, 6, 9, 4]
for k in range(8):
    print(affine(maliste[k]))
print("ok")

----------

## Exercice 6

----------

## Exercice 7

----------

## Exercice 13

Écrire une fonction `somme(n)` qui renvoie la somme de tous les entiers naturels de 1 à $n$.  
Exemple : `somme(5)` doit renvoyer 15, car $1+2+3+4+5=15$

----------

## Exercice 14

Le code ci-dessous permet d'afficher les triplets pythagoriciens (qui permettent donc de construire un triangle rectangle) pour des valeurs inférieures à 20.

In [8]:
for a in range(1,20):
    for b in range(1,20):
        for c in range(1,20):
            if a**2 + b**2 == c**2:
                print("triplet trouvé :",a,b,c)

triplet trouvé : 3 4 5
triplet trouvé : 4 3 5
triplet trouvé : 5 12 13
triplet trouvé : 6 8 10
triplet trouvé : 8 6 10
triplet trouvé : 8 15 17
triplet trouvé : 9 12 15
triplet trouvé : 12 5 13
triplet trouvé : 12 9 15
triplet trouvé : 15 8 17

Dans les résultats ci-dessus apparaissent plusieurs triplets identiques : par exemple, le triplet 3,4,5   donnera le même triangle que le triplet 4,3,5.  
Modifier ce code pour que chaque triplet apparaisse de manière unique.